.header {

	&__container {
	}

	&__logo {
	}

	&__menu {
	}

	&__info {
	}
}
.menu {

	&__icon {
	}

	&__body {
	}

	&__list {
	}

	&__item {
	}

	&__link {
	}

	&__products {
	}

	&__service {
	}

	&__exhibitions {
	}

	&__delivery {
	}

	&__about-company {
	}

	&__blog {
	}

	&__contacts {
	}
}
.icon-menu {
}
.products-menu {

	&__items {
	}

	&__item {
	}

	&__link {
	}

	&__description {
	}
}
.description-menu {

	&__image {
	}

	&__title {
	}

	&__sub-title {
	}
}
.service-items {

	&__item {
	}
}
.exhibitions-items {

	&__item {
	}
}
.delivery-items {

	&__item {
	}
}
.about-company-items {

	&__item {
	}
}
.blog-menu {

	&__items {
	}

	&__card {
	}
}
.blog-card {

	&__link {
	}

	&__image {
	}

	&__title {
	}
}
.contacts-menu {
}
.info-header {

	&__search {
	}

	&__contacts {
	}
}
.search-header {

	&__btn {
	}

	&__input-block {
	}
}
.input-block {

	&__search {
	}
}
.input {
}
.contacts-header {

	&__phone {
	}

	&__phone-value {
	}

	&__mail {
	}

	&__mail-value {
	}
}


//====================================================================================================

//Burger

 .icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
