.main-header {
  border-bottom: 1px solid $greyBorderColor;
  position: relative;

  @media (max-width: em(1279)) {
    padding: 13px 0;
  }
  @media (max-width: em(767)) {
    padding: 17px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include adaptiveValue('margin-right', 15, 0);

    img {
      width: auto;
      height: auto;
    }
  }
}
//========================================================================================================================================================

.main-nav {
  flex: 1 1 auto;

  &__wrapper {
    background-color: $mainWhiteColor;
    @media (max-width: em(1279)) {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 90dvh;
      top: 75px;
      left: -120%;
      overflow: auto;
      z-index: 4;
      transition: left 0.3s ease 0s;

      .main-nav-open & {
        box-shadow: 0px 20px 10px $shadowLowColor;
        left: 0;
        @media (max-width: em(1279)) {
          padding-left: 16px;
          padding-right: 16px;
          padding-bottom: 450px;
        }
        @media (max-width: em(767)) {
          padding-left: 16px;
          padding-right: 16px;
          padding-bottom: 50px;
        }
      }
    }
  }

  &__list {
    display: flex;
    height: 75px;

    @media (max-width: em(1279)) {
      margin-bottom: 20px;
      display: block;
      height: auto;
    }
  }

  &__item {
  }
}

//========================================================================================================================================================
.main-nav-item {
  @media (max-width: em(1279)) {
    padding: 10px 0;
    border-bottom: 1px solid $greyBorderColor;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3px;
    height: 100%;
    transition: background-color 0.3s ease 0s;
    @include adaptiveValue('padding-right', 15, 0);
    @include adaptiveValue('padding-left', 15, 0);

    &--special {
      color: $redColor;
    }

    &::after {
      content: '';
      bottom: 0;
      display: block;
      height: 2px;
      right: 0;
      position: absolute;
      background: linear-gradient(
        to left,
        $mainBlackColor,
        $blueGradientColor 100%
      );
      transition: width 0.3s ease 0s, right 0.3s ease 0s;
      width: 0;
    }

    svg {
      transition: transform 0.3s ease 0s;
    }

    &.--spoiler-active {
      background-color: $blueBackColor;
      &::after {
        width: 100%;
        right: 0;
      }

      svg {
        transition: transform 0.3s ease 0s;
        // ? Тут нужно отобразить стрелку зеркально!
        //   transform: rotate(-180deg);
        transform: scale(1, -1);
      }
    }

    @media (max-width: em(1279)) {
      font-weight: 600;
      width: 100%;
      height: 100%;
      padding-left: 0px;

      svg {
        position: absolute;
        top: 0;
        right: 0;
      }

      &.--spoiler-active {
        background: none;
        &::after {
          content: '';
          display: none;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $blueBackColor;
      }
    }
  }

  &__wrapper {
    position: absolute;
    left: 0;
    top: 76px;
    width: 100%;
    box-shadow: 0px 20px 10px $shadowLowColor;
    background-color: $mainWhiteColor;
    padding: 20px 0px;

    @media (max-width: em(1279)) {
      position: static;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 0;
    }
  }
  &__container {
    display: flex;
    column-gap: 30px;
    max-width: 1320px;
    padding: 0 30px;
    @media (max-width: em(1279)) {
      padding: 0;
    }
  }

  &__link {
    a {
      font-size: 20px;
      display: block;
      padding: 12px 0px;
      height: 100%;
      width: 100%;
      transition: color 0.3s ease 0s;
      letter-spacing: 1px;

      @media (any-hover: hover) {
        &:hover {
          color: $blueColor;
        }
      }

      @media (max-width: em(1279)) {
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: 0px;
      }
      @media (max-width: em(767)) {
        font-size: 12px;
      }
    }
  }
}
//========================================================================================================================================================

.main-nav-products {
  &__wrapper {
    column-gap: 80px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
  }

  &__item {
  }
}

.products-item {
  &.--tab-active {
    color: $blueColor;
    .products-item__arrow {
      visibility: visible;
      fill: $blueColor;
    }

    @media (max-width: em(1279)) {
      color: inherit;
      .products-item__arrow {
        visibility: hidden;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @media (any-hover: hover) {
      &:hover {
        .products-item__image {
          transform: scale(1.3);
        }
        .products-item__image-wrapper {
          &::before {
            content: '';
            background-color: $blueColor;
            box-shadow: 1px 2px 7px $shadowHighColor;
          }
        }
      }
    }

    @media (max-width: em(1279)) {
      padding: 9px 0;
    }
  }

  &__text {
    flex: 1 1 100%;
    height: 100%;
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    margin-right: 8px;

    @media (max-width: em(1279)) {
      width: 40px;
      height: 30px;
    }

    &::before {
      content: '';
      top: -3px;
      left: 0px;
      width: 45px;
      height: 45px;
      position: absolute;
      border-radius: 50%;
      z-index: 1;
      box-shadow: 1px 2px 6px $shadowLowColor;

      @media (max-width: em(1279)) {
        width: 35px;
        height: 35px;
      }
      @media (max-width: em(479)) {
        left: -2px;
      }
    }
  }

  &__image {
    position: relative;
    transition: transform 0.3s ease 0s;
    z-index: 2;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__arrow {
    height: 100%;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    transform: rotate(-90deg);
  }
}

.products-media-block {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;

  &__content {
  }

  &__image {
    display: block;
    margin-bottom: 20px;
    border-radius: 20px;
    background: -webkit-linear-gradient(
      360deg,
      $blueGradientColor 3%,
      $grayGradientColor
    );
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
    max-width: 500px;
  }

  &__desc {
    font-size: 20px;
    color: $greyColor;
    max-width: 500px;
  }

  @media (max-width: em(1279)) {
    display: none;
  }
}

//========================================================================================================================================================

.main-nav-service {
  text-align: center;
  @media (max-width: em(1279)) {
    text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column-reverse;
    }
  }

  &__list {
    flex: 1 1 70%;
    align-self: center;
    @media (max-width: em(1279)) {
      align-self: flex-start;
    }
  }

  &__link {
  }

  .service-media-block {
    flex: 1 1 30%;
    position: relative;
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
      @media (max-width: em(1279)) {
        position: static;
      }
    }
  }
}
//========================================================================================================================================================

.main-nav-exhibitions {
  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column;
    }
  }

  &__list {
    flex: 1 1 70%;
    column-count: 2;
    column-rule: 1px solid $greyBorderColor;
    @media (max-width: em(1279)) {
      margin-bottom: 5px;
    }
  }

  &__link {
    a {
      font-size: 16px;
      letter-spacing: 0px;
      @media (max-width: em(1279)) {
        font-size: 14px;
        padding: 8px 0;
      }
      @media (max-width: em(767)) {
        font-size: 12px;
      }
    }
  }
}

.exhibitions-media-block {
  flex: 1 1 30%;
  align-self: center;
  text-align: center;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }

  &__link {
    text-transform: uppercase;
    border: 1px solid $mainBlackColor;
    border-radius: 15px;
    padding: 8px 10px;
    font-weight: 600;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
    color: $blueColor;
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
        border: 1px solid $blueColor;
      }
    }
    @media (max-width: em(1279)) {
      display: block;
      max-width: 140px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

//========================================================================================================================================================

.main-nav-delivery {
  text-align: center;

  @media (max-width: em(1279)) {
    text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column-reverse;
    }
  }

  &__list {
    flex: 1 1 30%;
    align-self: center;
    @media (max-width: em(1279)) {
      align-self: flex-start;
    }
  }

  &__link {
  }
}

.delivery-media-block {
  flex: 1 1 70%;
  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

//========================================================================================================================================================

.main-nav-about {
  text-align: center;

  @media (max-width: em(1279)) {
    text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column;
    }
  }

  &__list {
    flex: 1 1 70%;
    align-self: center;
    @media (max-width: em(1279)) {
      align-self: flex-start;
    }
  }

  &__link {
    p {
      @include adaptiveValue('font-size', 13, 12);
      text-transform: uppercase;
      @include adaptiveValue('margin-bottom', 25, 10);
      color: $greyColor;
      letter-spacing: 1px;
    }
  }
}

.about-company-media-block {
  flex: 1 1 30%;
  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

//========================================================================================================================================================

.main-nav-blog {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    gap: 10px;
    > * {
      grid-column: 3 span;
    }

    @media (max-width: em(767)) {
      > * {
        grid-column: 6 span;
      }
    }
  }
}

.blog-card {
  &__link {
    display: block;
  }

  &__image {
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 180px;
    height: auto;
    @media (max-width: em(479)) {
      width: 140px;
    }
  }

  &__date {
    @include adaptiveValue('font-size', 16, 12);
    margin-bottom: 5px;
    display: block;
    color: $greyColor;
  }

  &__link {
    @include adaptiveValue('font-size', 16, 12);
    @include adaptiveValue('line-height', 18, 14);
    max-width: 180px;
    font-weight: 700;
    transition: color 0.3s ease 0s;
    color: $blueColor;

    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
    @media (max-width: em(479)) {
      max-width: 140px;
    }
  }
}

//========================================================================================================================================================

.main-nav-contacts {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    gap: 10px;
    > * {
      grid-column: 3 span;
    }

    @media (max-width: em(1279)) {
      > * {
        grid-column: 4 span;
      }
    }
    @media (max-width: em(767)) {
      > * {
        grid-column: 6 span;
      }
    }
  }

  &__card {
  }
}

.contacts-card {
  &--krasnodar {
    @media (min-width: em(1277)) {
      grid-column: 4/7;
    }
    @media (max-width: em(767)) {
      grid-column: 6 span;
    }
  }

  &__link {
    @include adaptiveValue('font-size', 16, 13);
    @include adaptiveValue('margin-bottom', 10, 6);
    color: $blueColor;
    height: 100%;
    display: block;
    font-weight: 700;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }

  &__content {
  }

  &__image {
    width: 180px;
    height: auto;
    border-radius: 8px;
    @include adaptiveValue('margin-bottom', 10, 5);
    @media (max-width: em(479)) {
      width: 140px;
    }
  }

  &__list {
    @media (max-width: em(479)) {
      width: 140px;
    }
  }

  &__term {
    color: $greyColor;
    margin-bottom: 5px;
  }

  &__address {
    @include adaptiveValue('font-size', 16, 12);
    @include adaptiveValue('margin-bottom', 12, 5);
    max-width: 180px;
  }

  &__phone {
    @include adaptiveValue('font-size', 16, 12);
    a {
      font-weight: 700;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $blueColor;
        }
      }
    }
  }
}

//========================================================================================================================================================

.main-nav-offers {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    gap: 15px;
    > * {
      grid-column: 3 span;
    }

    @media (max-width: em(479)) {
      > * {
        grid-column: 6 span;
      }
    }
  }

  &__card {
  }
}

.offers-card {
  &__wrapper {
  }

  &__img-wrapper {
    display: block;
    max-width: 250px;
    @include adaptiveValue('margin-bottom', 10, 3);
    overflow: hidden;
    border-radius: 8px;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__content {
  }

  &__date {
    display: inline-block;
    @include adaptiveValue('font-size', 16, 11);
    @include adaptiveValue('margin-bottom', 10, 3);
    font-weight: 700;
    color: $redColor;
  }

  &__title-wrapper {
    display: block;
    @include adaptiveValue('font-size', 16, 11);
    font-weight: 700;
    line-height: 1.15;
    transition: color 0.3s ease 0s;
    color: $blueColor;
    max-width: 250px;
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }

  &__title {
    @include adaptiveValue('line-height', 18, 12);
  }
}

//========================================================================================================================================================

.mobile-contacts {
  display: none;

  @media (max-width: em(1279)) {
    display: block;
  }

  &__link {
  }

  &__list {
  }

  &__item {
    margin-bottom: 20px;
  }

  &__term {
    font-weight: 400;
    color: $greyColor;
    margin-bottom: 10px;
  }

  &__tel {
    a {
      font-weight: 600;
    }
  }

  &__mail {
    a {
      font-weight: 600;
    }
  }

  &__adress {
  }
}

.social {
  margin-bottom: 20px;

  &__list {
    display: flex;
    column-gap: 25px;
  }

  &__item {
    &--vk {
      svg {
        fill: $vkColor;
      }
    }
    &--youtube {
    }
    &--telegram {
      svg {
        fill: $tgColor;
      }
    }
    &--whatsapp {
    }
  }

  &__link {
  }
}

//========================================================================================================================================================

.info-header {
  display: flex;
  align-items: center;
  @media (max-width: em(1279)) {
    margin-right: 45px;
  }
}

.search-header {
  width: 40px;
  height: 40px;
  margin-right: 45px;

  @media (max-width: em(767)) {
    margin-right: 0px;
    order: 2;
  }

  &__button {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;

    &.--spoiler-active {
      &::before {
        content: '';
        transition: background 0.3s ease 0s;
        background: url('@img/close-icon.svg') 100% / contain no-repeat;
      }
    }

    &::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 5px;
      position: absolute;
      left: 5px;
      background: url('@img/header-search.svg') 100% / contain no-repeat;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $blueBackColor;
      }
    }
  }
}

//========================================================================================================================================================

.input-wrapper {
  position: absolute;
  left: 0;
  top: 76px;
  min-width: 100%;
  box-shadow: 0px 20px 10px $shadowLowColor;
  text-align: center;
  z-index: 10;
  background-color: $mainWhiteColor;

  input {
    margin: 30px 0;
    border: 1px solid $inputBorder;
    padding: 8px 13px;
    border-radius: 10px;
    background-color: $inputBackColor;
    outline: none;
    transition: border 0.3s ease 0s, background-color 0.3s ease 0s;
    &:focus {
      border: 1px solid $blueColor;
      background-color: $mainWhiteColor;
    }
  }
}

//========================================================================================================================================================

.contacts-info {
  margin-right: 8px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__phone {
    position: relative;
  }

  &__phone-value {
    font-weight: 700;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
    @media (max-width: em(767)) {
      font-size: 14px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: -37px;
      width: 30px;
      height: 30px;
      background: url('@img/header-phone.svg') 100% / contain no-repeat;
    }
  }

  &__mail {
    position: relative;
    @media (max-width: em(767)) {
      display: none;
    }
  }

  &__mail-value {
    font-weight: 700;
    transition: color 0.3s ease 0s;
    padding-left: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -32px;
      width: 24px;
      height: 20px;
      background: url('@img/header-mail.svg') 100% / contain no-repeat;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
  }
}

//====================================================================================================

.icon-menu {
  display: none;
  @media (max-width: 1279px) {
    display: flex;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: $mainBlackColor;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .main-nav-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
.visually-hidden {
  display: none;
}
