.main-header {
  border-bottom: 1px solid #79797962;
  position: relative;

  @media (max-width: em(1279)) {
    padding: 13px 0;
  }
  @media (max-width: em(767)) {
    padding: 17px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include adaptiveValue('margin-right', 15, 0);

    img {
      width: auto;
      height: auto;
    }
  }
}
//========================================================================================================================================================

.main-nav {
  flex: 1 1 auto;

  &__wrapper {
    background-color: rgb(255, 255, 255);
    @media (max-width: em(1279)) {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 90dvh;
      top: 76px;
      left: -120%;
      overflow: auto;
      z-index: 4;
      transition: left 0.3s ease 0s;

      .main-nav-open & {
        box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.7);
        left: 0;
        @media (max-width: em(1279)) {
          padding-left: 16px;
          padding-right: 16px;
          padding-bottom: 450px;
        }
        @media (max-width: em(767)) {
          padding-left: 16px;
          padding-right: 16px;
          padding-bottom: 50px;
        }
      }
    }
  }

  &__list {
    display: flex;
    height: 75px;

    @media (max-width: em(1279)) {
      margin-bottom: 20px;
      display: block;
      height: auto;
    }
  }

  &__item {
    &--special {
      a {
        transition: background-color 0.3s ease 0s;
        color: red;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        @include adaptiveValue('padding-right', 15, 0);
        @include adaptiveValue('padding-left', 15, 0);
        @media (any-hover: hover) {
          &:hover {
            background-color: #0095da5d;
          }
        }

        @media (max-width: em(1279)) {
          font-weight: 600;
          padding-left: 0;
        }
      }
    }
  }
}

//========================================================================================================================================================
.main-nav-item {
  @media (max-width: em(1279)) {
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid #79797962;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3px;
    height: 100%;
    transition: background-color 0.3s ease 0s;
    @include adaptiveValue('padding-right', 15, 0);
    @include adaptiveValue('padding-left', 15, 0);

    &::after {
      content: '';
      bottom: 0;
      display: block;
      height: 2px;
      right: 0;
      position: absolute;
      background: linear-gradient(to left, #0a0a0a, #f50000 100%);
      transition: width 0.3s ease 0s, right 0.3s ease 0s;
      width: 0;
    }

    svg {
      transition: transform 0.3s ease 0s;
    }

    &.--spoiler-active {
      background-color: #0095da5d;
      &::after {
        width: 100%;
        right: 0;
      }

      svg {
        transition: transform 0.3s ease 0s;
        // ? Тут нужно отобразить стрелку зеркально!
        //   transform: rotate(-180deg);
        transform: scale(1, -1);
      }
    }

    @media (max-width: em(1279)) {
      font-weight: 600;
      width: 100%;
      height: 100%;
      padding-left: 0px;

      svg {
        position: absolute;
        top: 0;
        right: 0;
      }

      &.--spoiler-active {
        background: none;
        &::after {
          content: '';
          display: none;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #0095da5d;
      }
    }
  }

  &__wrapper {
    position: absolute;
    left: 0;
    top: 76px;
    width: 100%;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.7);
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;

    @media (max-width: em(1279)) {
      position: static;
      // position: relative;
      // top: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 0;
    }
  }
  &__container {
    display: flex;
    column-gap: 30px;
    @media (max-width: em(1279)) {
      padding: 0;
    }
  }
  &__link {
    a {
      font-size: 20px;
      display: block;
      padding: 12px 0px;
      height: 100%;
      width: 100%;
      transition: color 0.1s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #0094da;
        }
      }
      @media (max-width: em(1279)) {
        font-size: 14px;
        padding: 10px 0px;
      }
    }
  }
  &__grid-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты

    > * {
      grid-column: 3 span;
    }

    @media (max-width: em(1279)) {
      > * {
        grid-column: 4 span;
      }
    }
    @media (max-width: em(767)) {
      > * {
        grid-column: 6 span;
      }
    }

    @media (max-width: em(479)) {
      > * {
        grid-column: 3/11;
      }
    }
  }
}
//========================================================================================================================================================

.main-nav-products {
  &__wrapper {
    column-gap: 80px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    row-gap: 15px;
  }

  &__item {
    padding-bottom: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid #79797962;
    }

    &:first-child {
      color: #0094da;
      .main-nav-products__arrow {
        visibility: visible;
        overflow: visible;
      }

      svg {
        fill: #0094da;
      }

      @media (max-width: em(1279)) {
        color: inherit;
        svg {
          fill: inherit;
        }
        .main-nav-products__arrow {
          visibility: hidden;
          overflow: hidden;
        }
      }
    }
  }

  &__link {
    transition: color 0.1s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (any-hover: hover) {
      &:hover {
        transition: color, fill 0.1s ease 0s;
        fill: #0094da;
        color: #0094da;

        .main-nav-products__arrow {
          visibility: visible;
          overflow: visible;
        }
      }
    }
  }

  &__text {
    flex: 1 1 100%;
  }

  &__icon {
    flex: 0 0 80px;
    height: 100%;
  }

  &__arrow {
    display: flex;
    visibility: hidden;
    overflow: hidden;
    transform: rotate(-90deg);
  }
}

.products-media-block {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;

  &__image {
    flex: 0 0 400px;
    max-width: 800px;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(
      315deg,
      rgb(255, 0, 0) 3%,
      rgb(129, 129, 129)
    );
    border-radius: 20px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  &__sub-title {
    font-size: 20px;
    color: #acacac;
  }

  @media (max-width: em(1279)) {
    display: none;
  }
}

//========================================================================================================================================================

.main-nav-service {
  text-align: center;
  @media (max-width: em(1279)) {
    text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column-reverse;
    }
  }

  &__list {
    flex: 1 1 70%;
    align-self: center;
    @media (max-width: em(1279)) {
      align-self: flex-start;
    }
  }

  &__link {
  }

  .service-media-block {
    flex: 1 1 30%;
    position: relative;
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
      @media (max-width: em(1279)) {
        position: static;
      }
    }
  }
}
//========================================================================================================================================================

.main-nav-exhibitions {
  //   text-align: center;

  @media (max-width: em(1279)) {
    //  text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__list {
    flex: 1 1 70%;
    column-count: 2;
    column-rule: 1px solid #79797962;
    @media (max-width: em(1279)) {
      column-count: 2;
    }
    @media (max-width: em(767)) {
      column-count: 2;
    }
    @media (max-width: em(479)) {
      column-count: 1;
    }
  }

  &__link {
    a {
      font-size: 16px;
      @media (max-width: em(1279)) {
        font-size: 14px;
      }
    }
  }
}

.exhibitions-media-block {
  flex: 1 1 30%;
  align-self: center;
  text-align: center;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }

  &__link {
    text-transform: uppercase;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 8px 10px;
    font-weight: 600;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
    color: #0094da;

    @media (any-hover: hover) {
      &:hover {
        color: #000000;
        border: 1px solid #e04242;
      }
    }
    @media (max-width: em(1279)) {
      display: block;
      max-width: 140px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

//========================================================================================================================================================

.main-nav-delivery {
  text-align: center;

  @media (max-width: em(1279)) {
    text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column-reverse;
      row-gap: 20px;
    }
  }

  &__list {
    flex: 1 1 30%;
    align-self: center;
    @media (max-width: em(1279)) {
      align-self: flex-start;
    }
  }

  &__link {
  }
}

.delivery-media-block {
  flex: 1 1 70%;
  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

//========================================================================================================================================================

.main-nav-about {
  text-align: center;

  @media (max-width: em(1279)) {
    text-align: left;
  }

  &__wrapper {
    @media (max-width: em(1279)) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__list {
    flex: 1 1 70%;
    align-self: center;
    @media (max-width: em(1279)) {
      align-self: flex-start;
    }
  }

  &__link {
  }
}

.about-company-media-block {
  flex: 1 1 30%;
  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

//========================================================================================================================================================

.main-nav-blog {
  &__list {
  }
}

.blog-card {
  padding: 15px 0;
  display: flex;
  justify-content: center;

  &__link {
  }

  &__image {
    border-radius: 20px;
    @include adaptiveValue('margin-bottom', 16, 5);
    width: 200px;
    height: 150px;
  }

  &__date {
    @include adaptiveValue('font-size', 16, 12);
    display: block;
    font-weight: 300;
    padding: 12px 0px;
  }

  &__title {
    @include adaptiveValue('font-size', 18, 14);
    @include adaptiveValue('line-height', 24, 18);
    max-width: 200px;
    font-weight: 700;
  }
}

//========================================================================================================================================================

.main-nav-contacts {
  &__list {
  }

  &__card {
    &--krasnodar {
      @media (min-width: em(1277)) {
        grid-column: 4/7;
      }
    }
  }
}

.contacts-card {
  padding: 15px 0;
  display: flex;
  justify-content: center;

  &__image {
    border-radius: 20px;
    @include adaptiveValue('margin-bottom', 8, 5);
    width: 200px;
    height: 150px;
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue('font-size', 18, 16);
    @include adaptiveValue('line-height', 24, 18);
    @include adaptiveValue('margin-bottom', 20, 10);
  }

  &__list {
  }

  &__term {
    font-weight: 400;
    color: #9c9a9a;
    @include adaptiveValue('margin-bottom', 16, 5);
  }

  &__address {
    @include adaptiveValue('font-size', 18, 14);
    @include adaptiveValue('margin-bottom', 16, 7);
    max-width: 200px;
  }

  &__phone {
    @include adaptiveValue('font-size', 16, 14);
    @include adaptiveValue('margin-bottom', 10, 5);
    a {
      font-weight: 700;
      @media (any-hover: hover) {
        &:hover {
          color: #0094da;
        }
      }
    }
  }
}

//========================================================================================================================================================

.mobile-contacts {
  display: none;

  @media (max-width: em(1279)) {
    display: block;
  }

  &__link {
  }

  &__list {
  }

  &__item {
    margin-bottom: 20px;
  }

  &__term {
    font-weight: 400;
    color: #9c9a9a;
    margin-bottom: 10px;
  }

  &__tel {
    a {
      font-weight: 600;
    }
  }

  &__mail {
    a {
      font-weight: 600;
    }
  }

  &__adress {
  }
}

.social {
  margin-bottom: 20px;

  &__list {
    display: flex;
    column-gap: 25px;
  }

  &__item {
    &--vk {
      svg {
        fill: rgb(0, 119, 255);
      }
    }
    &--youtube {
    }
    &--telegram {
      svg {
        fill: #25a0dd;
      }
    }
    &--whatsapp {
    }
  }

  &__link {
  }
}

//========================================================================================================================================================

.info-header {
  display: flex;
  align-items: center;
  @media (max-width: em(1279)) {
    margin-right: 45px;
  }
}

.search-header {
  width: 40px;
  height: 40px;
  margin-right: 45px;

  @media (max-width: em(767)) {
    margin-right: 0px;
    order: 2;
  }

  &__button {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;

    &.--spoiler-active {
      &::before {
        content: '';
        transition: background 0.3s ease 0s;
        background: url('@img/close-icon.svg') 100% / contain no-repeat;
      }
    }

    &::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 5px;
      position: absolute;
      left: 5px;
      background: url('@img/header-search.svg') 100% / contain no-repeat;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #0095da5d;
      }
    }
  }
}

//========================================================================================================================================================

.input-wrapper {
  position: absolute;
  left: 0;
  top: 76px;
  min-width: 100%;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 10;
  background-color: rgb(255, 255, 255);

  input {
    margin: 30px 0;
    border: 1px solid #a7a7a7;
    padding: 8px 13px;
    border-radius: 10px;
    background-color: #c7c7c756;
    outline: none;
    transition: border 0.3s ease 0s, background-color 0.3s ease 0s;
    &:focus {
      border: 1px solid #0094da;
      background-color: #ffffff;
    }
  }
}

//========================================================================================================================================================

.contacts-info {
  margin-right: 8px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__phone {
    position: relative;
  }

  &__phone-value {
    font-weight: 700;
    transition: color 0.1s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #0094da;
      }
    }
    @media (max-width: em(767)) {
      font-size: 14px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: -37px;
      width: 30px;
      height: 30px;
      background: url('@img/header-phone.svg') 100% / contain no-repeat;
    }
  }

  &__mail {
    position: relative;
    @media (max-width: em(767)) {
      display: none;
    }
  }

  &__mail-value {
    font-weight: 700;
    transition: color 0.1s ease 0s;
    padding-left: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -32px;
      width: 24px;
      height: 20px;
      background: url('@img/header-mail.svg') 100% / contain no-repeat;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #0094da;
      }
    }
  }
}

//====================================================================================================

.icon-menu {
  display: none;
  @media (max-width: 1279px) {
    display: flex;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .main-nav-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
.visually-hidden {
  display: none;
}
