@use 'sass:math';

//! Подключение миксинов

@import 'base/mixins';

//! Подключение шрифтов
//&display=swap - добавить при подключении через плагин

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,600,700,700italic);

// Подключить если есть локальные файлы шрифтов
// @import 'fonts/fonts';

//! Шрифт по умолчанию

$fontFamily: 'Inter';
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

//! Основные цвета
$mainBlackColor: #000; // Цвет шрифта по умолчанию
$shadowLowColor: rgba(0, 0, 0, 0.4);
$shadowHighColor: rgba(0, 0, 0, 1);
$shadowMiddleColor: rgba(0, 0, 0, 0.8);
$mainWhiteColor: rgb(255, 255, 255);
$greyColor: #9c9a9a;
$greyBorderColor: #79797962;
$inputBorder: #a7a7a7;
$inputBackColor: #c7c7c756;
$blueColor: #0094da;
$blueBackColor: #00b7ff75;
$beigeColor: #faebd7;
$blueGradientColor: #00b7ff;
$grayGradientColor: rgb(247, 247, 247);
$redColor: #fe3831;
$vkColor: rgb(0, 119, 255);
$tgColor: #25a0dd;

//! НАСТРОЙКИ

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1750;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

$responsiveType: 1;

//! Обнуление и общие параметры

@import 'base/null';

body {
  display: flex;
  flex-direction: column;
  // Прижимаем footer
  > main {
    margin-top: 76px;
    //  flex: 1 1 auto;
    //  overflow: auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
  }
  // Сайт загружен
  .loaded & {
  }
}

/*
! (i) Стили будут применяться ко всем классам содержащим *  container
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*=' container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
}

//! Подключение стилей отдельных блоков
@import 'header';
