@use 'sass:math';

//! Подключение шрифтов
//&display=swap - добавить при подключении через плагин

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,600,700,700italic);

//! Шрифт по умолчанию, (в null файле)

$fontFamily: 'Inter';
$fontSize: 16px;

//! Основные цвета
$mainBlackColor: #000;
$shadowVeryLowColor: rgba(0, 0, 0, 0.2);
$shadowLowColor: rgba(0, 0, 0, 0.4);
$shadowHighColor: rgba(0, 0, 0, 1);
$shadowMiddleColor: rgba(0, 0, 0, 0.8);
$mainWhiteColor: rgb(255, 255, 255);
$greyColor: #9c9a9a;
$greyBorderColor: #7979791f;
$inputBorder: #a7a7a7;
$inputBackColor: #c7c7c756;
$blueColor: #0094da;
$blueBackColor: #00b7ff75;
$beigeColor: #faebd7;
$blueGradientColor: #00b7ff;
$grayGradientColor: rgb(247, 247, 247);
$redColor: #fe3831;
$vkColor: rgb(0, 119, 255);
$tgColor: #25a0dd;

//! НАСТРОЙКИ

// Минимальная ширина страницы
$minWidth: 320;

// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1750;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

//! Обнуление и общие параметры

@import 'base/null';

body {
  display: flex;
  flex-direction: column;
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
  // Скролл заблокирован
  &.lock {
    overflow: hidden;
  }
  // Прижимаем footer
  > main {
    margin-top: 76px;
    //  flex: 1 1 auto;
    //  overflow: auto;
  }
}

/*
! (i) Стили будут применяться ко всем классам содержащим *  container
*/
[class*=' container'] {
  @if ($maxWidthContainer>0) {
    max-width: ($maxWidthContainer) + px;
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    padding: 0 (math.div($containerPadding, 2) + px);
  }
}

//! Подключение стилей отдельных блоков
@import 'header';
